body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */

    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* HEADING */
.heading {
    display: flex;

    flex: 1;
    
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header,
.hero {
    color: white;

    width: 1000px;
}

.link, .secondary {
    color: #e5e7eb;
    font-size: 18px;
}

/* HEADER */
.header {
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;

    flex-shrink: 0;
}

.header .link-list {
    list-style: none;

    padding: 0px;
    margin: 0px;

    display: flex;
    gap: 16px;
}

/* WEBSITE INFO */
.hero {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.hero .text {
    flex-basis: 600px;
}

.hero .main {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.hero p {
    padding-bottom: 16px;
    margin: 0;
}

.hero button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}