body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* HEADING */
.heading {
    background-color: #1f2937;

    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 1;
}

.main {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.heading .link,
.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.hero {
    color: white;

    width: 1000px;
}

/* HEADER */
.header {
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    flex-shrink: 0;
}

.header .link-list {
    list-style: none;

    padding: 0px;
    margin: 0px;

    display: flex;
    gap: 16px;
}

/* HERO */
.hero {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.hero .text {
    min-width: 200px;
}

.hero p {
    padding-bottom: 16px;
    margin: 0;
}

.hero button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

/* INFORMATION */
.information {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.information .header-text {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;

    margin: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;

    margin: 50px;

    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
}

.card .img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10%;
    margin-bottom: 8px;

    flex: 0 0 auto;
}

/* QUOTE */
.quote {
    background-color: #e5e7eb;
    color: #1f2937;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    margin: 0;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 700px;
    margin: 50px;
}

em {
    font-weight: 300;
}

.quote .text {
    font-size: 36px;
}

.quote .container .author {
    font-weight: 900;
}

/* CALL TO ACTION */
.call-to-action {
    display: flex;

    justify-content: center;
    align-items: center;
}

.call-to-action .container{
    background-color: #3882f6;
    border-radius: 8px;
    color: white;

    margin: 50px;
    padding: 20px 40px;
    
    display: flex;
    align-items: center;
    gap: 48px;
}

.call-to-action button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 24px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;

    flex-shrink: 0;
}

.call-to-action p {
    margin: 8px;
}

/* FOOTER */
.footer p {
    margin: 50px 0px;
}
