body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;

    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* HEADER */
.header .logo {
    color: #f9faf8;
    font-size: 24px;
}

.header .link {
    color: #e5e7eb;
    font-size: 18px;
}

.header .link-list {
    list-style: none;

    padding: 0px;
    margin: 0px;

    display: flex;
    gap: 16px;
}

.header {
    background-color: #1f2937;
    color: white;

    padding: 16px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

